#featured_slide {
    display: block;
    width: 960px;
    height: 380px;
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
}


/* ----------------------------------------------Main Category Slider------------------------------------- */

#slider,
#slider ul {
    position: relative;
    width: 960px;
    height: 400px;
}

#slider ul {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider li {
    position: absolute;
    top: 0;
    width: 180px;
    height: 375px;
    /*padding:11px;*/
    color: #9FA4AA;
    background-color: #544945;
    border: 1px solid #544945;
    overflow: hidden;
    background: -webkit-linear-gradient(#9E9E9E, #544945);
    background: -o-linear-gradient(#9E9E9E, #544945);
    background: linear-gradient(#9E9E9E, #544945);
}

#slider li img,
#slider li h2,
#slider li p {
    margin: 0;
    padding: 7px;
    font-weight: normal;
    line-height: normal;
    position: relative;
}

#la {
    font-size: 19px;
}

#slider li img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 175px;
    height: 320px;
    margin: 0 0 10px 0;
    padding: 2px;
    /* border:1px solid #161616;*/
    transition: transform .6s ease-in-out;
}

.originalclass {
    margin-top: -1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    color: #d3d3d3;
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /*    background-color: #544945;*/
    border-bottom: 1px solid #544945;
}

.changedclass {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #A27FDB;
    border-bottom: 5px solid #A27FDB;
    transition: 0.4s ease-in-out;
}


/*#slider li img:hover {
    background-color: #e68a00;
}*/


/*#slider li h2:hover{ color: #e68a00; }*/

#slider li p {
    line-height: 1.6em;
    margin: 0 0 12px 0;
}


/* ----------------------------------------------Previous & Next Navigation------------------------------------- */

#slider a.next,
#slider a.prev {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 30px;
    cursor: pointer;
    outline: none;
    z-index: 1000;
    background: center center no-repeat;
}

#slider a.next {
    right: -21px;
    border-left-color: #2B2B2B;
}

#slider a.prev {
    left: -21px;
    border-right-color: #2B2B2B;
}

#slider a.prev:hover,
#slider a.next:hover {
    border-color: #CCCCCC;
}

#slider a.disabled,
#slider a.disabled:hover {
    border: #161616;
    cursor: default;
}
