@import url("featured_slide.css");
html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #666666;
    transition: 2.0s;
    font-family: 'Open-Sans', sans-serif;
}

.addslide {
    transform: translate3d(0px, -250px, 0px);
}

.removeslide {
    transform: translate3d(0px, 0px, 0px);
}

.toporiginal {
    margin-left: 2000px;
    background-color: #f5f5f5;
    background-image: url('');
    overflow-x: hidden;
}

.topchanged {
    margin-left: 0;
    overflow-x: hidden;
}

.topchanged .backImg {
    background-attachment: fixed;
    background-image: url("images/overlay.png"), url("images/books.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.backImg {
    background-attachment: fixed;
    background-image: url("images/overlay.png"), url("images/books.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 74px;
}

.justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.nostart {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.clear {
    display: inline-block;
}

html[xmlns] .clear {
    display: block;
}

* html .clear {
    height: 1%;
}

a {
    outline: none;
    text-decoration: none;
}

.fl_left,
.imgl {
    float: left;
}

.fl_right,
.imgr {
    float: right;
}

img {
    margin: 0;
    padding: 0;
    border: none;
}

.imgl,
.imgr {
    border: 1px solid #DFDFDF;
    padding: 4px;
}

.imgl {
    margin: 0 15px 15px 0;
    clear: left;
}

.imgr {
    margin: 0 0 15px 15px;
    clear: right;
}


/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
}

div.wrapper h1,
div.wrapper h2,
div.wrapper h3,
div.wrapper h4,
div.wrapper h5,
div.wrapper h6 {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
}

.col1 {
    color: #FFFFFF;
    padding-bottom: 30px;
}

.col2 {
    color: #9B9B9B;
    background-color: #F9F9F9;
}


/* ----------------------------------------------Generalise------------------------------------- */

#header,
#container {
    display: block;
    position: relative;
    width: 960px;
    margin: 0 auto;
}


/* ----------------------------------------------Header------------------------------------- */

#header {
    padding: 30px 0 0 0;
}

#header h1,
#header p,
#header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#header h1 a {
    font-size: 46px;
    color: #CCCCCC;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #3B0254;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}
/* Some styles for the meet the team iframe */

.team-frame{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 250px;
    overflow: hidden;
    display: none;
    bottom:0;
    overflow-y: hidden;
    z-index: -999;
    left: 0; 
    border: none;
}

iframe{
    overflow: hidden;
}


/* The navigation menu links */


#slider {
    padding-top: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}


/*Footer*/

.footer,
.push {
    height: 42px;
    background-color: #544945;
}

.footer-text {
    color: #818181;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Open-Sans'
}

.footer-icon {
    text-align: center;
    padding-top: -10px;
    margin-top: -25px;
    padding-right: 10px;
    color: #A27FDB;
}

.footer-icon i {
    font-size: 20px;
    color: #A27FDB;
}
